.nav-bar-content {
	width: max-content;
	height: max-content;
	background-color: #f7f7f8;
	border: 1px solid #c9c9cf !important;
	border-radius: 20px !important;

	.active {
		background-color: white !important;
		border: 1px solid #004ad7 !important;
		color: #004ad7 !important;
	}

	:hover {
		color: #0053f0 !important;
	}

	.nav-slider-button {
		background-color: #f7f7f8;
		border-radius: 60px !important;
		border: 0;
		color: #282934;
		font-size: 12px;
	}
}
